body {
	background-color: white;
	
	color: black;
}

.jumbotron {
	background-color: green;
	background-size: 110%;
	color: white;
	
}


img {
width: 40%;
margin: 10px;
}

button {
	margin: 5px;
	padding: 3px;
	color: blue;
	border-radius: 12px;
	font-size: 18px;
}

#sports-form{
	color: black;
}

.panel-heading {
	background-color: green;
}